@using Salon.Models;

@{
  Layout = "_layout";
}

<h1>Salon Clientele</h1>

@if (@Model.Count == 0)
{
  <h3>There are no existing clients at this salon.</h3>
}

<ol>
@foreach (Client client in Model)
{
  <div>
      <li><a href='/clients/@client.Id'>@client.Name</a></li>
      <p>@client.StyleNotes</p>
      <p>@client.StylePrice</p>
      <p>@client.DateJoin</p>
  </div>
}
</ol>

<a href='/clients/new'><button class="btn btn-success">Add Client to Salon</button></a>

<form action="/clients/delete" method="post">
  <button type="submit" class="btn btn-danger">Delete Client</button>
</form>